html, body {
  margin: 0;
  padding: 0;
  background: transparent;
}

#stage {
  position: fixed;
  inset: 0;
  background: #fafafa;
  background: transparent;
}

#world {
  position: absolute;
  left: 0;
  top: 0;
  width: max-content;
  height: max-content;
  background: transparent;

  transform: translate(0px, 0px);
  will-change: transform;
}